In [13]:
import pyodbc

In [21]:
import psycopg2

In [15]:
import sqlalchemy

In [16]:
from sqlalchemy import create_engine

In [17]:
import pandas as pd

In [23]:
uid = 'postgres'

pwd = '1234'

server = 'localhost'

In [19]:
pyodbc.drivers()

['SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'SQL Server Native Client 11.0',
 'ODBC Driver 17 for SQL Server',
 'SQL Server Native Client RDA 11.0']

In [24]:
def extract():
    try:
        source_conn = pyodbc.connect ('DRIVER={ODBC Driver 17 for SQL Server}; SERVER=OLUWAPONMILE; \
                                      DATABASE=WorldEvents; Trusted_Connection=YES')
        
        source_cursor = source_conn.cursor()
        
        source_cursor.execute(""" SELECT t.name as table_name FROM sys.tables t where t.name IN ('tblContinent',
        'CountriesByArea','tblCategory','tblCountry','tblEvent','tblFamily')""")
        
        source_tables = source_cursor.fetchall()
        
        for tbl in source_tables:
            df = pd.read_sql_query(f'Select * from {tbl[0]}', source_conn)
            load(df, tbl[0])
        
    except Exception as e:
            print("Data extract error: " + str(e))
            
    finally:
            source_conn.close()
            


def load(df, tbl):
    try:
        rows_imported = 0
        engine = create_engine (f'postgresql://{uid}:{pwd}@{server}:5432/WorldEvents')
        
        print(f'importing rows {rows_imported} to {rows_imported + len(df)}...for table {tbl}')
        
        df.to_sql(f'stg_{tbl}', engine, if_exists='replace', index=False)
        rows_imported += len(df)
        
        print ("Data imported successful")
        
    except Exception as e:
        print ("Data load error: " + str(e))
        
        
        
try:
    extract()
except Exception as e:
    print ('Error while extracting data: ' + str(e))

C:\Users\DELL\AppData\Local\Temp\ipykernel_5184\1888240075.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(f'Select * from {tbl[0]}', source_conn)

importing rows 0 to 196...for table CountriesByArea
Data imported successful
importing rows 0 to 20...for table tblCategory
Data imported successful
importing rows 0 to 8...for table tblContinent
Data imported successful
importing rows 0 to 43...for table tblCountry

C:\Users\DELL\AppData\Local\Temp\ipykernel_5184\1888240075.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(f'Select * from {tbl[0]}', source_conn)
C:\Users\DELL\AppData\Local\Temp\ipykernel_5184\1888240075.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(f'Select * from {tbl[0]}', source_conn)
C:\Users\DELL\AppData\Local\Temp\ipykernel_5184\1888240075.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(f'Select * from {tbl[0]}', source_conn)

Data imported successful
importing rows 0 to 459...for table tblEvent

C:\Users\DELL\AppData\Local\Temp\ipykernel_5184\1888240075.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(f'Select * from {tbl[0]}', source_conn)

Data imported successful
importing rows 0 to 25...for table tblFamily
Data imported successful

C:\Users\DELL\AppData\Local\Temp\ipykernel_5184\1888240075.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(f'Select * from {tbl[0]}', source_conn)